*{
    margin: 0;
    padding: 0;
}
body{
   font-family:'Oswald', sans-serif;
}
.cabecalho {
    background-color: #A0153E;
    color: rgb(234, 231, 241);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
  
}
.cabecalho-imagem{
    width: 20%
    
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#A0153E,#FF204E);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}

.estudante-imagem{
    width: 120px;
}